{% extends "estate/base.html" %}
{% block title %}物件削除ページ{% endblock %}
{% block head %}
    {% load static %}
        <link rel = "stylesheet" href = "{% static 'css/style_delete.css' %}" >
{% endblock %}
{% block content %}
{% if property %}
    <h1>この物件を削除しますか?</h1>

    <p>物件名: {{ property.title }}</p>
    <p>住所: {{ property.address }}</p>
    <p>価格: {{ property.price }}万円</p>
    <p>説明: {{ property.description }}</p>
    <p>登録日: {{ property.created_at|date:'Y年m月d日 H:i' }}</p>

<form action="{% url 'property_delete' property.id %}" method = "POST" >
    {%  csrf_token  %}
        <button type="submit" class = "btn btn-danger">削除する</button>
</form>

{% endif %}

<a href="{% url 'property_list' %}" class = "btn btn-primary list">一覧に戻る</a>
{% endblock %}